.input {
  height: 4rem;
  width: 20rem;
  border-color: grey;
  font-size: 22px;
}

.start {
  width: 200px;
  height: 4rem;
  border: solid;
  border-color: grey;
  font-size: 22px;
  font-weight: bold;
  border-radius: 1.5ch;
}

.start:hover {
  background-color: green;
}
