.ship {
  font-size: 1.2rem;
  text-align: start;
  border: solid;
  border-color: grey;
  font-weight: bold;
  color: white;
  border-radius: 1.5ch;
}

.ship:hover {
  background-color: white;
  font-size: 2rem;
  width: 300px;
}

.carrier {
  width: 300px;
  background-color: rgb(33, 79, 228);
  color: black;
}

.cruiser {
  width: 240px;
  background-color: rgb(33, 79, 228);
  color: black;
}

.submarine {
  width: 180px;
  background-color: rgb(33, 79, 228);
  color: black;
}
.direction {
  font-size: 1.2rem;
  background-color: rgb(162, 162, 134);
  border: gray;
  color: black;
  height: 50px;
  border-radius: 1.5ch;
  width: 250px;
  height: auto;
  font-weight: bold;
}
